body{
    background-color: rgb(180, 182, 185);
}
.form-body{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
    text-align: center !important;
}
.form-box{
    background-color: rgb(246, 248, 250);
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(55, 55, 55);
    padding: 15px;
    width: 100vw;
    max-width: 400px !important;
    height: 410px;
    text-align: left !important;
}
#main-heading{
    margin-bottom: 30px;
    margin-left: -25px;
}

/* #{

} */

.form-box .input-group-text{
    background-color: rgb(19, 144, 189);
}
.form-box .form-control:focus{
    border: 2px solid #004e9d !important;
    box-shadow: 0px 0px 5px rgb(41, 106, 171) !important;
}
.form-box .input-label{
    color: dimgray;
    font-weight: 500;
}
.form-box #csmloginSubmit{
    background-color: rgb(90, 167, 12);
    color: white;
    min-width: 130px;
}
.form-box #csmloginSubmit:hover{
    background-color: rgb(54, 96, 12);
    color: white;
}

.form-box #btn-reset-password{
    color: rgb(255, 81, 0);
}

#resetPasswordModal .title{
    font-size: 24px;
    font-weight: 500;
    color: rgb(215, 24, 3);
    letter-spacing: 1px;
}
#resetPasswordModal .reset-input-label{
    color:rgb(55, 55, 55);
    font-weight: 500;
    margin-bottom: 4px;
}
#resetPasswordModal #registered-email {
    border: gray 1px solid;
}
#resetPasswordModal #registered-email{
    border: gray 1px solid;
}
#resetPasswordModal #registered-email:focus {
    box-shadow: 0px 0px 5px rgb(83, 86, 89) !important;
}
#resetPasswordModal #btn-send-reset-form{
    background-color: rgb(43, 81, 215);
    color: white;
    min-width: 130px;
}
#resetPasswordModal #btn-send-reset-form:hover {
    background-color: rgb(55, 73, 138);
    color: white;
}